{% load staticfiles %}
{% load blog_tags %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <!--<link rel="icon" href="../../../../favicon.ico">-->

        <title>LetonBlog</title>
        <!-- css -->

        <!-- Bootstrap core CSS -->
		<link href="{% static 'blog/css/bootstrap.min.css'%}" rel="stylesheet">
        <!-- <link href="{% static 'blog/css/custom.css'%}" rel="stylesheet"> -->
        <!-- github highlights -->
        <link rel="stylesheet" href="{% static 'blog/css/highlights/github.css'%}">
        <link rel="stylesheet" href="{% static 'blog/css/pace.css'%}">
        <link rel="stylesheet" href="{% static 'blog/css/custom.css'%}">

        <!-- Custom styles for this template -->
        <link href="{% static 'blog/letonsoft/css/letonblog.css'%}" rel="stylesheet">
        <link href="{% static 'blog/letonsoft/css/github-markdown.css'%}" rel="stylesheet">
        <style>
        span.highlighted {
            color: red;
        }
        </style>

    </head>

    <body class="bg-light">
        <div class="bg-dark">
            <nav class="container navbar navbar-expand-md navbar-dark mb-2">
                <a class="navbar-brand" href="{% url 'blog:index' %}">LETONSOFT</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'blog:index' %}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Archives</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                <a class="dropdown-item" href="#">VPS</a>
                                <a class="dropdown-item" href="#">Ubuntu</a>
                                <a class="dropdown-item" href="#">Docker</a>
                                <a class="dropdown-item" href="#">Nginx</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                    </ul>
                    <form class="form-inline ml-4 my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    </form>
                </div>
            </nav>
        </div>


        <main role="main" class="container">
            <div class="row">
                <div class="col-md-8">
                    {% block main %}

                    {% endblock main %}
                </div>

                <!-- sidebar -->
                <aside class="col-md-4 blog-sidebar">
                    <!-- tags -->
                    <div class="my-3 bg-white rounded box-shadow">
                        <!-- Categories title -->
                        <h6 class="border-bottom border-gray p-3 mb-0">最新文章</h6>
                        <!-- Categories -->
                        <div class="media text-muted">
                            {% get_recent_posts as recent_post_list %}
                            <ul class="list-unstyled  mb-0 p-3">
                                {% for post in recent_post_list %}
                                        <li>
                                          <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                        </li>
                                    {% empty %}
                                        <li>暂无文章!</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- archives -->
                    <div class="my-3 bg-white rounded box-shadow">
                        <!-- archives title -->
                        <h6 class="border-bottom border-gray p-3 mb-0">Archives</h6>
                        
                        <!-- date -->
                        <div class="media text-muted">
                            {% archives as date_list %}
                            <ul class="list-unstyled  mb-0 p-3">
                                {% for date in date_list %}
                                    <li>
                                      <a href="{% url 'blog:archives' date.year date.month %}">{{ date.year }} 年 {{ date.month }} 月</a>
                                    </li>
                                    {% empty %}
                                    <li>暂无归档</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <!-- tags -->
                    <div class="my-3 bg-white rounded box-shadow">
                        <!-- Categories title -->
                        <h6 class="border-bottom border-gray p-3 mb-0">Categories</h6>
                        <!-- Categories -->
                        <div class="media text-muted">
                            {% get_categories as category_list %}
                            <ul class="list-unstyled  mb-0 p-3">
                                {% for category in category_list %}
                                <li>
                                    <a href="{% url 'blog:category' category.pk %}">{{ category.name }}
                                        <span class="post-count">({{ category.num_posts }})</span>
                                    </a>
                                </li>
                                {% empty %}
                                <li>暂无分类！</li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                    </div>
                    <!--TOC-->
                    {% block toc %}

                    {% endblock toc %}
                    <!-- Tags -->
                    <div class="my-3 bg-white rounded box-shadow">
                        <!--  title -->
                        <h6 class="border-bottom border-gray p-3 mb-0">Tags</h6>
                        <!-- list -->
                        <div class="media text-muted">
                            {% get_tags as tags_list %}
                            <ul class="list-unstyled  mb-0 p-3">
                                {% for tag in tags_list %}
                                <li>
                                    <a href="{% url 'blog:tag' tag.pk %}">{{ tag.name }}
                                        <span class="post-count">({{ tag.num_posts }})</span>
                                    </a>
                                </li>
                                {% empty %}
                                <li>暂无标签！</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- 订阅rss -->
                    <div class="my-3 bg-white rounded box-shadow">
                        <!--  title -->
                        <h6 class="border-bottom border-gray p-3 mb-0">订阅</h6>
                        <!-- list -->
                        <div class="media text-muted">
                            <ul class="list-unstyled  mb-0 p-3">
                                <li>
                                    <a href="{% url 'blog:rss' %}">RSS 订阅</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </aside><!-- /.blog-sidebar -->
            </div>
        </main>
        <footer class="blog-footer mt-2">
            <p> Made by <a href="http://blog.letonsoft.com">Letonsoft.com</a> &copy; 2018</p>
            <p>
                <a href="#">Back to top</a>
            </p>
        </footer>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="'+"{% static 'blog/js/vendor/jquery-slim.min.js'%}" +'><\/script>')</script>
        <script src="{% static 'blog/js/vendor/popper.min.js'%}"></script>
        <script src="{% static 'blog/js/bootstrap.min.js'%}"></script>
        <script src="{% static 'blog/js/vendor/holder.min.js'%}"></script>
        <script src="{% static 'blog/letonsoft/js/letonblog.js'%}"></script>
        <!--<script>-->
            <!--$(document).ready(function(){-->
                <!--$(#search).keydown(function(event){-->
                    <!--if(event.keyCode == 13){-->
                        <!--alert("start search");-->
                    <!--}-->
                <!--})-->
            <!--})-->
            <!--$(document).ready(function(){-->
                <!--&lt;!&ndash;$("#toc").addClass("media text-muted");&ndash;&gt;-->
                <!--&lt;!&ndash;$("#toc>ul").addClass("list-unstyled  mb-0 p-3");&ndash;&gt;-->
                <!--alert($("#toc>ul").innerHTML());-->
            <!--})-->
        <!--</script>-->
    </body>
</html>
